## Question 3

In [27]:
fertil <- c(rep("fertil1",1), rep("fertil2",1), rep("fertil3",1))
treat <- c(rep("treat1",3), rep("treat2",3), rep("treat3",3))
seed <- c("A","C","B","B","A","C","C","B","A")
freq <- c(25.11, 22.9, 25.94, 24.8, 21.97, 27.41, 11.01, 9.46, 9.77)
 
mydata <- data.frame(treat, fertil, seed, freq)

mydata

  treat  fertil  seed freq
1 treat1 fertil1 A    25.11
2 treat1 fertil2 C    22.90
3 treat1 fertil3 B    25.94
4 treat2 fertil1 B    24.80
5 treat2 fertil2 A    21.97
6 treat2 fertil3 C    27.41
7 treat3 fertil1 C    11.01
8 treat3 fertil2 B     9.46
9 treat3 fertil3 A     9.77

In [28]:
matrix(mydata$freq, 3,3)

     [,1]  [,2]  [,3]
[1,] 25.11 24.80 11.01
[2,] 22.90 21.97  9.46
[3,] 25.94 27.41  9.77

In [29]:
myfit <- lm(freq ~ fertil+treat+seed, mydata)
anova(myfit)

          Df Sum Sq     Mean Sq    F value    Pr(>F)
fertil    2   13.948022   6.974011   3.946784 0.202151541
treat     2  426.815622 213.407811 120.773327 0.008211979
seed      2    3.606422   1.803211   1.020487 0.494930288
Residuals 2    3.534022   1.767011         NA          NA

If we follow the example in the provided link, the row would be the fertilizer, the col would be the tillage (treatment), and the entries in the matrix would be the seed.